Net SEVENSEGMENT_CATHODE<0> LOC=T17  |  IOSTANDARD=LVCMOS33;
Net SEVENSEGMENT_CATHODE<1> LOC=T18  |  IOSTANDARD=LVCMOS33;
Net SEVENSEGMENT_CATHODE<2> LOC=U17  |  IOSTANDARD=LVCMOS33;
Net SEVENSEGMENT_CATHODE<3> LOC=U18  |  IOSTANDARD=LVCMOS33;
Net SEVENSEGMENT_CATHODE<4> LOC=M14  |  IOSTANDARD=LVCMOS33;
Net SEVENSEGMENT_CATHODE<5> LOC=N14  |  IOSTANDARD=LVCMOS33;
Net SEVENSEGMENT_CATHODE<6> LOC=L14  |  IOSTANDARD=LVCMOS33;
Net SEVENSEGMENT_CATHODE<7> LOC=M13  |  IOSTANDARD=LVCMOS33;

Net SEVENSEGMENT_ANODE<0> LOC=P17  |  IOSTANDARD=LVCMOS33;
Net SEVENSEGMENT_ANODE<1> LOC=P18  |  IOSTANDARD=LVCMOS33;
Net SEVENSEGMENT_ANODE<2> LOC=N15  |  IOSTANDARD=LVCMOS33;
Net SEVENSEGMENT_ANODE<3> LOC=N16  |  IOSTANDARD=LVCMOS33;

Net CLK LOC=V10  |  IOSTANDARD=LVCMOS33;