Net LED<7> LOC=T11  |  IOSTANDARD=LVCMOS33;
Net LED<6> LOC=R11  |  IOSTANDARD=LVCMOS33;
Net LED<5> LOC=N11  |  IOSTANDARD=LVCMOS33;
Net LED<4> LOC=M11  |  IOSTANDARD=LVCMOS33;
Net LED<3> LOC=V15  |  IOSTANDARD=LVCMOS33;
Net LED<2> LOC=U15  |  IOSTANDARD=LVCMOS33;
Net LED<1> LOC=V16  |  IOSTANDARD=LVCMOS33;
Net LED<0> LOC=U16  |  IOSTANDARD=LVCMOS33;